.progress{
    height: 2.5rem;
}
.controls, .log {
    margin-top: 30px;
    text-align: center;
    padding: 30px 10px;
    border-radius: 5px;
    border: 1px solid #ccc; 
}

.turn {
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 22px;
}




