<!DOCTYPE html>
<html>
    <head>
        <title>Monster Slayer</title>
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/all.css">
        <link rel="stylesheet" href="css/app.css">
    </head>
    <body>
        <div class="container py-5" id="app">
            <section class="row">
                <div class="col-lg-6 col-12">
                    <h1 class="text-center"><i class="fas fa-male"></i></h1>
                    <div class="progress">
                        <div class="progress-bar bg-success" role="progressbar" :style="{width: playerHealth + '%'}" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">{{playerHealth}}</div>
                    </div>
                </div>
                <div class="col-lg-6 col-12">
                    <h1 class="text-center"><i class="fab fa-optin-monster"></i></h1>
                    <div class="progress">
                        <div class="progress-bar bg-danger" role="progressbar" :style="{width: monsterHealth + '%'}" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">{{monsterHealth}}</div>
                    </div>
                </div>
            </section>
            <section class="row justify-content-center controls" v-if="!gameIsRunning">
                <div class="col-12 columns">
                    <button class="btn btn-success" id="start-game" @click="startGame">START NEW GAME</button>
                </div>
            </section>
            <section class="main-controls row controls" v-else>
                <div class="col-lg-3 col-12 mb-md-3">  
                    <button class="btn btn-danger" id="attack" @click="attack">ATTACK</button>
                </div>
                <div class="col-lg-3 col-12 mb-md-3">  
                    <button class="btn btn-warning" id="special-attack" @click="specialAttack">SPECIAL ATTACK</button>
                </div>
                <div class="col-lg-3 col-12 mb-md-3"> 
                    <button class="btn btn-success" id="heal" @click="heal">HEAL</button>
                </div>
                <div class="col-lg-3 col-12 mb-md-3">  
                    <button class="btn btn-light" id="give-up" @click="giveUp">GIVE UP</button>
                </div>
            </section>
            <section class="row justify-content-center log" v-if="turns.length > 0">
                <div class="col-12">
                        <div class="alert" 
                            v-for="turn in turns"
                            :class="{'alert-success': turn.isPlayer, 'alert-danger': !turn.isPlayer}"
                            >
                            {{turn.text}}
                        </div>
                </div>
            </section>
        </div>
        <script src="js/jquery-3.3.1.min.js"></script>
        <script src="js/popper.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/vue.js"></script>
        <script src="js/app.js"></script>
    </body>
</html>